.bg-light{
    background-color: #654BAF !important;
    color:white !important;
    border-radius: 5px 5px 5px 5px !important;
}
footer{
    background-color: #654BAF !important;
    color:white !important;
    border-radius: 5px 5px 5px 5px !important;
}
.footer{
    height: 20% !important;
    background-color: #654BAF !important;
    color:white !important;
    border-radius: 5px 5px 5px 5px !important;  
    
}